#footer
  background: color-footer-background
  padding: 50px 0
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em

.footer-info-left
  display: block
  width: 500px
  float: left
  line-height: 76px
  height: 76px

.footer-info-right
  float: right
  padding-top: 13px